.app-container {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
  padding: 20px;
  box-sizing: border-box;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode button {
  background-color: #555;
  color: #fff;
}

/* Button Position and Style */
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode-toggle:hover {
  background-color: #0056b3;
}
